<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Contactos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>María García</h2>
        <p>Compañera de trabajo</p>
        <ion-text color="medium" class="telefono">📞 555-123-4567</ion-text>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Carlos López</h2>
        <p>Amigo</p>
        <ion-text color="medium" class="telefono">📞 555-987-6543</ion-text>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h2>Ana Martínez</h2>
        <p>Familiar</p>
        <ion-text color="medium" class="telefono">📞 555-555-0000</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>