.ion-text-center h2 {
  font-size: 2.2rem;
  font-weight: 700;
}
.ion-text-center p {
  font-size: 1.3rem;
}
ion-title, ion-title[size="large"] {
  font-size: 2.1rem !important;
}
ion-button {
  font-size: 1.1rem;
}